*{margin: 0;
/* justify-content: stretch; */

}
 body{ 
    display:grid;
    max-width: 100%;
    height: 750px; 
    grid-template-areas:
      "head head head"
      "nav  main main"
      "nav  main main"
      "main main main"
     ;
      grid-template-rows: 1fr 1fr 50% ;
      grid-template-columns: 1fr 1fr 1fr ;
      min-height: 100vh;

    /* grid-template-rows: 100px 1fr 30px;
    grid-template-columns: 150px 1fr; */}

    body {
        background:rgb(4, 104, 92);
        /* position:absolute; */
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
        background-image: url("https://wallpapers.com/images/hd/rick-and-morty-pictures-b3e2pq02sb2fuvy3.jpg");
       background-position:left; background-size: 1000px;
      }

 
 


 h1 {
    grid-area: head;
    background-color: #fef15c;
    text-align: center;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
   nav {
    grid-area: nav;
    background-color: #ffa08c; 
    box-sizing: border-box;
    border-color:black
  } 
  
   main {
    grid-area: main;
    background-color: #ffff64;
   max-height: fit-content;
  }
  
  footer {
    grid-area: foot;
    background-color: #8cffa0;}
  
  h1{text-align: center;}
div{border:2px solid black}

.one{text-align: center;text-size-adjust: 20px;}

.episode,.episode2,.episode3{text-decoration:underline;}

img.pic{border:2px solid red}

img.pic2{border:2px solid yellowgreen}

img.pic3{border:2px solid plum}


p.two,p.three{text-align: center;}

#anime{background-image:url(https://thumbs.gfycat.com/ShoddyWelloffCaecilian.webp);background-position: right ;}
#anime2{background-image: url(https://media.tenor.com/waEwJu0lIpQAAAAM/rick-and-morty-dancing.gif);}
#anime3{background-image: url(https://media.tenor.com/ijxFYrJg828AAAAM/rick-and-morty-morty-dancing.gif);}
p.id,p.gender,p.species,p.episode{color: #d6dc2c;}
p.id2,p.gender2,p.species2,p.episode2{color: #2610cf43;background-color: rgb(255, 255, 255);}

p.id3,p.gender3,p.species3,p.episode3 {background-color: rgb(151, 76, 166);}
.link{background-color: white;}
#highlight{background-color: rgb(111, 35, 118);}
/* #highlight2{background-color: white;} */
.headerDiv{justify-content: stretch;}

/* #container2{justify-content: stretch;} */

/* body{max-width: fit-content;max-height: fit-content;} */

body{min-height: 100vh;}
div.container1{height: fit-content;background-image:url(https://giphy.com/explore/rick-and-morty) ;}


div.headerDiv{width:1000px;height: 100px;grid-row-end:4px}

.me{color:#dc2c2c;font-family: Georgia, 'Times New Roman', Times, serif;}


/* .flexbox{flex-wrap: wrap-reverse;} */


div.container{height:550px;width: 400px;}
h2.title{color:purple;}


@media (max-width: 400px) {

  p.episode3,h1,div.container1,p.episode3 div.headerDiv, body,main,header {
      display: inline;

     max-width: 100%;
    }

    

    h1{display:inline;max-width: 400px;background-color: #2d2d2d;}
    @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (-webkit-min-device-pixel-ratio: 1) {

      div.headerDiv{display: flexbox;}
  
  }
  
  /* Portrait */
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1) {
  
  }

  p{color: #dc3e2c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
h2.title{color: red;}

body{background-image: url(https://media0.giphy.com/media/XgHGfkACG7RWPnVUZo/giphy.gif);}

#anime{background-image:url(https://cdn.dribbble.com/users/112621/screenshots/2677203/adultswim.gif);background-position: right ;}
#anime2{background-image: url(https://i.pinimg.com/originals/a2/b4/00/a2b400096521263598a1494313f0c9ad.gif);}
#anime3{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNVtCJ5kNCxEmpImJpy8dg_bNUAeG4BVSYRQ&usqp=CAU);}
    /* header {

      grid-template-columns: 1fr;

    }

    main {

      grid-template-columns: 1fr;

      row-gap: 50px;
      column-gap: 0px;

    }

    footer {

      padding: 25px;
      text-align: center;


    }

    footer ul {

      list-style: none;

    }

    footer h4 {

      border-bottom: none;

    }
  }


@media (max-width: 1279px) {

  

  main {

    width: 90%;
  }

  footer {

    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 768px) {

    


    header {

      grid-template-columns: 1fr;
      display: flex;

    }

    main {
      display: flex;

      grid-template-columns: 1fr;

      row-gap: 50px;
      column-gap: 0px;

    } */

    /* footer {

      padding: 25px;
      text-align: center;


    }

    footer ul {

      list-style: none;

    }

    footer h4 {

      border-bottom: none;

    } */
}

html,
body {
  color: #2d2d2d;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive;
}

header {
  background: #25283d;
  color: #f3fcf0;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 42px;
  margin-top: 0;
}

header nav ul {
  padding: 0;
}

header nav li {
  display: inline-block;
}

header nav li a {
  color: #f3fcf0;
  margin: 15px;
  padding: 10px;
  text-decoration: none;
}

header nav li a:hover {
  color: #ffd23f;
  border-bottom: 2px dotted #ffd23f;
}

main {
  margin: 10px auto;
  width: 90%;
}

main a {
  color: #a675a1;
  text-decoration: none;
}

main a:hover {
  color: #25283d;
}

main img {
  border: 2px solid #25283d;
  border-radius: 3px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

main aside {
  font-size: 14px;
}

main aside span {
  display: inline-block;
  margin-right: 5px;
}

main .featured,
main .posts {
  column-gap: 30px;
  display: grid;
  line-height: 1.5;
  margin: 25px 0;
}

main .featured {
  grid-template-columns: 2fr 1fr;
}

main .featured h2 {
  font-size: 36px;
}

main .posts {
  grid-template-columns: 1fr 1fr 1fr;
}

footer {
  background: #25283d;
  color: #f3fcf0;
  font-size: 14px;
  padding: 25px;
  text-align: right;
}


div#character-data:hover{background-color: red;background-image: url("https://media0.giphy.com/media/Os22UiQbJk8Y6BQKpw/200w.webp?cid=ecf05e47d5xd3k2uwuu6dkavqrls0ipnf0pz58ks7aaob5o4&ep=v1_gifs_search&rid=200w.webp&ct=g");}

/* div#character-data{height:100px} */
